@model SAT.DATA.EF.ScheduledClass

@{
    ViewBag.Title = "Scheduled Class Details";
}

<h2 class="text-center my-3">@ViewBag.Title</h2>

<div class="row text-center">
    <div class="col-md-4 offset-2">
        <dl class="dl-horizontal">
            <dt class="mt-2">
                @Html.DisplayNameFor(model => model.Course.CourseName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Course.CourseName)
            </dd>
            <dt class="mt-2">
                @Html.DisplayNameFor(model => model.Location)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>
            <dt class="mt-2">
                @Html.DisplayNameFor(model => model.ScheduledClassStatus.SCSName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ScheduledClassStatus.SCSName)
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt class="mt-2">
                @Html.DisplayNameFor(model => model.InstructorName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InstructorName)
            </dd>
            <dt class="mt-2">
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>

            <dt class="mt-2">
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>

        </dl>
    </div>
</div>
<p class="text-center">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ScheduledClassId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

