@model IEnumerable<SAT.DATA.EF.Enrollment>

@{
    ViewBag.Title = "Enrollment List";
}

<h2 class="text-center my-3">@ViewBag.Title</h2>
<div class="col-md-10 offset-1">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduledClass.InstructorName)
            </th>
            <th>
                Student Name
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScheduledClass.InstructorName)
                </td>
                <td>
                    @item.Student.FullName()
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EnrollmentID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EnrollmentID })
                </td>
            </tr>
        }

    </table>
</div>