@model SAT.DATA.EF.Student

@{
    ViewBag.Title = "Student Details";
}

<div class="">
    <h2 class="text-center my-3">@ViewBag.Title</h2>

    <hr />
    <div class="row text-center">

        <div class="col-md-4 offset-2">
            <dl class="dl-horizontal">
                <dt class="mt-2">
                    Name
                </dt>

                <dd>
                    @Model.FullName()
                </dd>
                <dt class="mt-2">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="mt-2">
                    @Html.DisplayNameFor(model => model.City)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.City)
                </dd>

                <dt class="mt-2">
                    @Html.DisplayNameFor(model => model.State)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.State)
                </dd>

                <dt class="mt-2">
                    @Html.DisplayNameFor(model => model.ZipCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ZipCode)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt class="mt-2">
                    @Html.DisplayNameFor(model => model.Major)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Major)
                </dd>

                <dt class="mt-2">
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>

                <dt class="mt-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                @*<dt class="mt-2">
                        @Html.DisplayNameFor(model => model.PhotoUrl)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PhotoUrl)
                    </dd>*@

                <dt class="mt-2">
                    @Html.DisplayNameFor(model => model.StudentStatus.SSName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StudentStatus.SSName)
                </dd>

            </dl>
        </div>
    </div>
    <p class="text-center">
        @Html.ActionLink("Edit", "Edit", new { id = Model.StudentId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
