@model IEnumerable<SAT.DATA.EF.Student>
    @using SAT.DATA.EF

@{
    ViewBag.Title = "Student List";
}

<h2 class="text-center my-3">@ViewBag.Title</h2>

<div class="col-md-10 offset-1">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <table class="table text-white">
        <tr>
            <th>
                Full Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Student Status
            </th>
            <th></th>
        </tr>

        @foreach (Student item in Model)
        {
            <tr>
                <td>
                    @item.FullName()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentStatus.SSName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StudentId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.StudentId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.StudentId })
                </td>
            </tr>
        }

    </table>
</div>
